
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}   
ol,ul{margin:0; padding:0;}

/*现测chrome下有默认的border和padding*/
input {padding: 0; border: none;} 


/*清除浮动*/
.clearfloat {
	zoom:1;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}
li {
	list-style-type: none;
	float: left;
}